:root {
    --blanco : #fff;
    --negro : #000;
    --gris : #f0f0f0;
    --general : #4b22f4;
    --generalTransparente : rgba(75, 34, 244,0.2);


    --azul: #007bff;
    --verde : #04AA6D;
    --amarillo: #ff9800;
    --rojo: #f44336;


    /*colores gradiante curso show*/
    --gradienteUno: #845ec2;
    --gradienteDos : #d65db1;
    --gradienteTres: #ff6f61;
}
