:root {
    --blanco : #fff;
    --negro : #000;
    --gris : #f6fbff;
    --general : #f07613;
    --generalTransparente : rgba(240, 118, 19,0.2);

    --naranja : #f07613;


    --azul: #3c37f1 ;
    --verde : #04AA6D;
    --amarillo: #ff9800;
    --rojo: #ff5574;


    --azul-login: #3c37f1;
    --rosa: #ff5574;
    --celeste: #99ccff;
    --celesteClaro: #accffe;

    /*colores gradiante curso show*/
    --gradienteUno: #3c37f1;
    --gradienteDos : #a7441c;
    --gradienteTres: #b94f08;
}
