:root {
    --blanco : #fff;
    --negro : #000;
    --gris : #f0f0f0;
    --general : #4b22f4;
    --generalTransparente : rgba(75, 34, 244,0.2);


    --azul: #3c37f1 ;
    --verde : #04AA6D;
    --amarillo: #ff9800;
    --rojo: #ff5574;


    --azul-login: #3c37f1;
    --rosa: #ff5574;
    --celeste: #99ccff;
    --celesteClaro: #accffe;

    /*colores gradiante curso show*/
    --gradienteUno: #3c37f1;
    --gradienteDos : #ff5574;
    --gradienteTres: #c728ac;
}
