/*ESTILOS HEADER HOME*/
#header-home{
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-home-fondo {
   background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(../../img/visitador/home/header.jpg);
   height: 56vh;  
   padding: 3.3rem;
}

#header-home .header-titulo {
    margin-top: 95px;
    color: var(--blanco);
    font-weight: 600;
    justify-content: center;
}

#header-home .header-parrafo {
    color: var(--blanco);
    font-size: 20px;
    font-weight: 500;
}


/*ESTILOS DE CURSO-BLOQUES*/
#contenido-bloques {background-color: var(--gris); padding-top: 65px; padding-bottom: 65px;}
#contenido-bloques .mi-card {
    width: 100%;
    height: auto;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }

  #contenido-bloques .mi-card-content {
    padding: 20px;
  }

  #contenido-bloques .mi-card:hover {
    transform: scale(1.1);
  }


  #contenido-bloques .contenido-bloques-titulo {
    font-size: 23px;
    text-align: center;
    color: var(--general);
  }
  #contenido-bloques .imagen{ width: 40px; height: 40px; margin: 15px 0px 15px 0px;}
  #contenido-bloques .curso-bloques-parrafo { text-align: justify; font-size: 12px;}



/*ESTILOS DE CATALOGO DE CURSOS*/
#curso-elegir {background-color: var(--general);}
#curso-elegir .curso-elegir-titulo{ color: var(--blanco); font-size: 36px;} 
#curso-elegir .curso-elegir-parrafo{ color: var(--blanco); font-size: 20px;} 

#ultimos-cursos img {width: 100%;height: 220px;  object-fit: cover; }
#ultimos-cursos .ultimos-cursos-titulo {margin-top: 65px;}
#ultimos-cursos .ultimos-cursos-parrafo {padding-bottom: 35px;}
#ultimos-cursos .ultimos-cursos-card-titulo { font-size: 18px;}
#ultimos-cursos .ultimos-cursos-card-parrafo { font-size: 14px; text-align: justify; font-weight: 600;} 